head
  title
  script(src='script.js', defer='defer')
nav
  a(href='/') Home
  a(href='/form') Form
h1=movie
p  
  img#poster(src=route)
p
  | You searched for 
  span#movie=movieName
p
  | This film is rated 
  span#rated=rating
p
  | The director is 
  span#director=director
p
  | Main actors include 
  span#actors=actors
p
  | The film was released in 
  span#released=released
p
  | This film received a score of 
  span#score=score

//- button#favoriteButton(type='submit') Favorite
//- button#homeBtn(type='submit') Home
