body
  p#id=id
  h1= "Edit or Add a movie!"
  div#formContainer
    form(action="/films/save" method="POST")
      div.formAnswer
        p Title:
        input#title(type="text" name="title" value=title)
      div.formAnswer
        p Director:
        input#director(type="text" name="director" value=director)
      div.formAnswer  
        p Released:
        input#released(type="text" name="released" value=release)
      div.formAnswer
        p Rating:
        input#rating(type="text" name="rating" value=rating)
      div.formAnswer
        p Actors:
        input#actors(type="text" name="actors" value=actors)
      div.formAnswer
        p Score:
        input#score(type="text" name="score" value=score)
      div.formAnswer
        p Poster:
        input#poster(type="text" name="poster" value=poster)
    input#editFave(type="submit" value='Save')
  script(src="script.js")