head
  title
  script(src='./script2.js' defer)
nav
  a(href='/') Home
  a(href='/form') Form
h1=movie
p  
img#poster(src=route)
p
  | You searched for 
  span.details=movieName
  |  which is rated  
  span.details=rated
  |  and has a total runtime of 
  span.details=runtime
  | .
  |  The genre(s) of this film are: 
  span.details=genre
  | .
p
  | The film is directed by  
  span.details=director
  |  and features actors such as 
  span.details=actors
  | .
p
  | The film was released in 
  span.details=released
  |  and currently boasts and IMDb score of   
  span.details=score
  | .
p
  | Synopsis: 
  span.details=plot
button#favoriteButton(type='submit') Favorite
