head
  title
nav
  a(href='/') Home
  a(href='/form') Form
h1=movie
p  
img#poster(src=route)
p
  | You searched for 
  span=movieName
p
  | This film is rated 
  span=rated
p
  | The director is 
  span=director
p
  | Main actors include 
  span=actors
p
  | Synopsis: 
  span=plot
p
  | The film was released in 
  span=released
p
  | This film received a rating of 
  span=rating
button#favoriteButton(type='submit') Favorite
script(src='script2.js')
//- script(src='script.js')